.bg {
    width: 100%;
    background-color: var(--green);
    min-height: 45px;
    color: var(--white);
}

.top-line{
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}

.ad{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

.support {
    margin-left: 40px;
    color: var(--white);
}

.currency {
    font-weight: 400;
    cursor: pointer;
}